/.vscode
/docker
/node_modules
/public/hot
/public/storage
/storage/*.key
/tests
/tmp
/vendor
.env
.env.example
.php-cs-fixer.cache
.php-cs-fixer.dist.php
.phpunit.result.cache
compose.yaml
phpstan.neon.dist
phpunit.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
