includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 4
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
