includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    excludePaths:
        - *Test.php
    level: 6
    ignoreErrors:
        - '/Parameter #\d \$[A-Za-z]* of method [A-Za-z:\(\)\\]* expects string(\|null)?, App\\Models\\User(\|null)? given\.$/'
#    checkMissingIterableValueType: false
